
.main {
    height: 100vh;
}

.user-layout{
    display: flex;
}

.user-layout .main{
    margin-left: 200px;
    width: calc(100vw - 200px);
}

.user-layout .sidebar{
    width: 200px;
    position: fixed;
    height: 100vh;
}

@media only screen and (min-width: 500px) {
   .user-layout .side-bar{
    display: none
    }
    .user-layout{
        width: 100vw;
    }
  }

